In [1]:
df = read.csv("car.csv")

In [2]:
df

  Speed Car_Age Experience Risk
1 200   15       5         85
2  90   17      13         20
3 165   12       4         93
4 110   20      NA         60
5 140    5       3         82
6 115    2       8         10

In [3]:
nrow(df)

[1] 6

In [4]:
ncol(df)

[1] 4

In [7]:
max(df$Car_Age	)

[1] 20

In [8]:
min(df$Car_Age	)

[1] 2

In [9]:
subset(df,Risk==93)

  Speed Car_Age Experience Risk
3 165   12      4          93

In [11]:
subset(df,Car_Age>15)

  Speed Car_Age Experience Risk
2  90   17      13         20
4 110   20      NA         60

In [12]:
subset(df,Risk<50 & Car_Age>15)

  Speed Car_Age Experience Risk
2 90    17      13         20